<!DOCTYPE html>
<html>
<head>
    <title>coins list</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>coins list</h1>
<ul>
    <% coins.forEach(function(item) { %>
        <li><%= item.asset %></li>
    <% }) %>
</ul>
</body>
</html>
