<!DOCTYPE html>
<html lang="en">
<% include ../partial/head.ejs %>
<body>
<div class="flex-center position-ref full-height">

    <% include ../partial/navbar.ejs %>

    <div class="content">
        <div class="title m-b-md">
           Express
        </div>

        <div class="links">
            <a href="https://laraman.ir/docs">Home</a>
            <a href="https://laraman.ir/blog">Blog</a>
        </div>
    </div>
</div>
</body>
</html>